@media screen and ( max-width: 1440px )
  // .container
  //   width: 90%
  // heared
  .header-container
    width: 90%
  .nav
    &__item
      margin-right: 1.5rem

@media screen and (max-width: 1199px)
  html
    font-size: 14px
  .container
    width: 92%
  // header
  .header-container
    width: 95%
  .nav
    &__item
      margin-right: 2rem
  .contacts
    &__phone
      margin-right: 0
    &__button
      display: none
  // hero
  .hero
    &__instagram
      max-width: 4.57rem
    &__scroll-down
      min-height: 4.93rem
    &::after
      height: 2.47rem
  // types
  .card
    &__text
      width: 90%
      margin-top: -7rem
    &__title
      font-size: 1.14rem
    &__list
      font-size: 1rem
      line-height: 1.69rem
    &__pricetag
      font-size: 1.14rem
  // steps
  .steps
    &__col-first
      width: 35%
    &__col-second
      width: 63%
    &-list
      &__item
        flex-basis: 10rem;
        margin-right: 9rem
        &--col-3
  .team
    &__col
      margin-right: 4.5rem
      &--last
        margin-right: 0
    &-card
      max-width: 17rem
      &__name
        font-size: 1.2rem
  // section-footer
  // .footer-modal
  //   width: 75%
  // footer
  .footer-container
    width: 95%
@media screen and ( max-width: 991px )
  html
    font-size: 12px
  .container
    width: 92%
  // hero
  .hero
    &__instagram
      display: none
  // projects
  .projects
    padding-top: 4rem
  .col-50
    width: 39%
    margin-bottom: 2rem
  .col-img
    width: 31.57rem
  // control
  .control
    padding-bottom: 0
  // types
  .types
    padding-top: 5.93rem
    &__section-title
      color: $black
  .row
    flex-direction: column
    align-items: center
  .card
    &__text
      margin-left: 0
      max-width: 22.5rem
      margin-bottom: 6.58rem
      &-last
        margin-bottom: 0
    &__title
      font-size: 1.25rem
    &__list
      font-size: 1.07rem
      line-height: 1.83rem
    &__pricetag
      font-size: 1.29rem
  // design
  .design
    padding-top: 9rem
    background-color: $dark
    &__section-title
      color: $light
  .section-prelude
    &__text
      color: $light
  // steps
  .steps
    display: none
  // team
  .team
    margin-top: 0
    background-color: $dark
    &__col
      display: flex
      margin: 0
      &--last
        width: 100%
    &-card
      max-width: 19.45rem
      &--last
        margin: auto
      &__text
        &--last
          margin-bottom: 0
    &__text
      color: $light
    &__row
      width: 100%
      flex-direction: row
      justify-content: space-around
      flex-wrap: wrap
  // section-footer
  .footer-section
    background: $dark
    background-image: none
    &::before
      display: none
  .footer-modal
    width: 100%
    background: $dark
    &__container
      width: 100%
      max-width: 100%
    &__row
      flex-direction: column
      margin-bottom: 4.5rem
    &__form
      width: 70%
      background-color: $dark
    &__input-group
      &:first-of-type
        margin-bottom: 4.5rem
    &__policy
      &-label
        margin: 0
        justify-content: flex-start
    &__button
      width: 100%
      margin: 0
      border-radius: 0
  // scrollup
  .scrollup
    bottom: 110px
@media screen and ( max-width: 767px )
  .container
    width: 90%
  // header
  .header-container
    width: 87%
  .menu
    &__nav
      display: none
  // hero
  .hero
    &__scroll-down
      display: none
    &__content
      margin-left: 0
    &__text
      max-width: 31.71rem
    &__title
      max-width: 30.86rem
      font-size: 1.92rem
      line-height: 2.55rem
    &__text
      max-width: 40rem
      font-size: 1.5rem
      line-height: 2.04rem
  // projects
  .projects
    padding-top: 3rem
  .col-50
    width: 70%
    margin-bottom: 2rem
    margin: auto
  .col-img
    margin-top: 2rem
    width: 31.57rem
  // control
  .control
    background-color: $dark
    padding-bottom: 0
    &__text
      color: $light
      &::before
        margin-bottom: 1.2rem
    &__label
      color: rgba($light, 0.5)
    &__policy-label
      margin: 0
      justify-content: flex-start
      color: $light
    &__form
      width: 100%
      flex-direction: column
      align-items: stretch
    &__input-group
      &:first-of-type
        width: 100%
        margin-right: 0
        margin-bottom: 4.5rem
      &:nth-of-type(2)
        width: 100%
        margin-bottom: 1.9rem
    &__input
      color: $light
      border-bottom: 1px solid rgba($light, 0.7);
      &::placeholder
        color: $light
        opacity: 1
      &::-moz-placeholder
        color: $light
        opacity: 1
      &:-moz-placeholder
        color: $light
        opacity: 1
    &__button
      transform: translateY(50%)
      border-radius: 0
      order: 4
    &__policy
      margin-top: 0
      margin-bottom: 2rem
    &__video
      min-height: 24rem
      background-size: cover
      margin-bottom: 2.33rem
  .video
    width: 87%
    &__play
      width: 8rem
  // team
  .team
    padding-bottom: 3rem
    margin-bottom: 0
    &-card
      max-width: 24.21rem
    &__text
      display: none
    &__row
      width: 100%
      flex-direction: column
      align-items: center
    &__col
      &--last
        width: auto
  .card
    &__text
      &--last
        margin-bottom: 0
  // footer-section
  .footer-modal
    &__form
      width: 100%
@media screen and ( max-width: 575px )
  // hero
  .hero
    background: $dark url('../img/hero-bg-375.jpg') no-repeat center/cover
    &__button
      width: 100%
      &--primary
        margin-bottom: 26px
  // projects
  .col-50
    width: 100%
    margin-right: auto
  .col-img
    width: 100%
  //control
  .control
    &__video
      min-height: 23rem
    &__policy
      &-label
    &__text
      font-size: 1.15rem;
  .video
    width: 100%
    &__play
      width: 7.5rem
@media screen and ( max-width: 497px )
  .control
    &__video
      min-height: 20rem
  // team
  .team
    &-card
      max-width: 21.79rem
      &--last
        margin: 0
    &__col
      align-self: flex-end
@media screen and ( max-width: 390px )
  .container
    width: 85%
  .control
    &__video
      min-height: 17rem
@media screen and (max-height: 600px)
  .hero
    &__scroll-down
      display: none
@media screen and (max-height: 414px)
  html
    font-size: 11px
  .modal
    &__dialog
      height: 100vh
      display: flex
      flex-direction: column
      justify-content: center
      padding: 2rem 3.50rem 1rem
    &__input
      margin-bottom: 1.8rem
      &:last-of-type
        margin-bottom: 0.8rem
    &__policy
      margin-bottom: 1.5rem
@media screen and (max-height: 320px)
  html
    font-size: 11px
  .hero
    &__content
      max-width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      &-wrapper
        flex-basis: 62%
        display: flex
        flex-direction: column
        justify-content: center
      &-button
        flex-basis: 35%
        height: 100%
        display: flex
        flex-direction: column
    &__button
      min-width: 10rem
      margin-right: 0
      margin-bottom: 26px
      padding: 1.5rem 1rem


