@media screen and ( max-width: 1440px )
  .nav
    &__item
      margin-right: 1.5rem
  .contacts
    &__phone
      margin-right: 1.5rem
@media screen and (max-width: 1199px)
  html
    font-size: 14px
  .nav
    &__item
      margin-right: 2rem
  .contacts
    &__phone
      margin-right: 0
    &__button
      display: none
  .hero
    &__instagram
      max-width: 4.57rem
    &__scroll-down
      min-height: 4.93rem
@media screen and ( max-width: 991px )
  html
    font-size: 12px
  .container
    width: 95%
  .hero
    &__instagram
      display: none
@media screen and ( max-width: 767px )
  .container
    width: 87%
  .menu
    &__nav
      display: none
  .hero
    &__scroll-down
      display: none
    &__content
      margin-left: 0
    &__text
      max-width: 31.71rem
@media screen and ( max-width: 575px )
  .hero
    background: $dark url('../img/hero-bg-375.jpg') no-repeat center/cover
    &__title
      max-width: 30.86rem
      font-size: 1.92rem
      line-height: 2.55rem
    &__text
      max-width: 40rem
      font-size: 1.5rem
      line-height: 2.04rem
    &__button
      width: 100%
      &--primary
        margin-bottom: 26px