@media screen and ( max-width: 1440px )
  // .container
  //   width: 90%
  // heared
  .header-container
    width: 90%
  .nav
    &__item
      margin-right: 1.5rem
  .contacts
    &__phone
      margin-right: 1.5rem
@media screen and (max-width: 1199px)
  // html
  //   font-size: 14px
  .container
    width: 92%
  // header
  .header-container
    width: 95%
  .nav
    &__item
      margin-right: 2rem
  .contacts
    &__phone
      margin-right: 0
    &__button
      display: none
  // hero
  .hero
    &__instagram
      max-width: 4.57rem
    &__scroll-down
      min-height: 4.93rem
    &::after
      height: 2.47rem
  // types
  .card
    &__text
      width: 90%
      margin-top: -7rem
    &__title
      font-size: 1.14rem
    &__list
      font-size: 1rem
      line-height: 1.69rem
    &__pricetag
      font-size: 1.14rem
@media screen and ( max-width: 991px )
  html
    font-size: 12px
  .container
    width: 92%
  // hero
  .hero
    &__instagram
      display: none
  // projects
  .col-50
    width: 100%
    margin-bottom: 2rem
  .col-img
    width: 31.57rem
    align-self: flex-start
  .swiper
    &-button
      &-prev, &-next
        width: 3.5rem
  // types
  .row
    flex-direction: column
    align-items: center
  .card
    &__text
      margin-left: 0
      max-width: 22.5rem
      margin-bottom: 6.58rem
      &-last
        margin-bottom: 0
    &__title
      font-size: 1.25rem
    &__list
      font-size: 1.07rem
      line-height: 1.83rem
    &__pricetag
      font-size: 1.29rem
  // design
  .design
    background-color: $dark
  .section-title
    &__heading
      &--light
        color: $light
  .section-prelude
    &__text
      &--light
        color: $light
@media screen and ( max-width: 767px )
  .container
    width: 87%
  // header
  .header-container
    width: 87%
  .menu
    &__nav
      display: none
  // hero
  .hero
    &__scroll-down
      display: none
    &__content
      margin-left: 0
    &__text
      max-width: 31.71rem
    &__title
      max-width: 30.86rem
      font-size: 1.92rem
      line-height: 2.55rem
    &__text
      max-width: 40rem
      font-size: 1.5rem
      line-height: 2.04rem
@media screen and ( max-width: 575px )
  // hero
  .hero
    background: $dark url('../img/hero-bg-375.jpg') no-repeat center/cover
    &__button
      width: 100%
      &--primary
        margin-bottom: 26px
  // projects
  .col-img
    width: 100%
@media screen and (max-height: 600px)
  .hero
    &__scroll-down
      display: none
@media screen and (max-height: 414px)
  html
    font-size: 11px
  .modal
    &__dialog
      height: 100vh
      display: flex
      flex-direction: column
      justify-content: center
      padding: 2rem 3.50rem 1rem
    &__input
      margin-bottom: 1.8rem
      &:last-of-type
        margin-bottom: 0.8rem
    &__policy
      margin-bottom: 1.5rem
@media screen and (max-height: 320px)
  html
    font-size: 11px
  .hero
    &__content
      max-width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      &-wrapper
        flex-basis: 62%
        display: flex
        flex-direction: column
        justify-content: center
      &-button
        flex-basis: 35%
        height: 100%
        display: flex
        flex-direction: column
    &__button
      min-width: 10rem
      margin-right: 0
      margin-bottom: 26px
      padding: 1.5rem 1rem


