.steps
  margin-top: -0.4rem
  padding-bottom: 35.75rem
  &__row
    width: 100%
    margin-left: -0.3rem
  &__col-first
    overflow: hidden
    width: 28%
  // section-title
  &__section-title
    margin-bottom: 6.07rem
  &__name
    display: inline-block
    margin-bottom: 1.15rem
  &__heading
    font-size: 1.93rem
    line-height: 2.64rem
    &--word
      &::after
        margin-left: 6.23rem
  // number-slide
  &__number-slide
    align-items: flex-start
    margin-bottom: 1.3rem
    font-family: 'Yeseva One', cursive
    font-size: 1.29rem
    line-height: 1.79rem
    text-transform: uppercase;
    color: $light
  &__swiper
    &-slide
      width: 100%
      &--title
        max-width: 18.71rem
        margin-bottom: 1rem
        font-family: 'Yeseva One', cursive
        font-weight: normal
        font-size: 1.07rem
        line-height: 1.64rem
        text-transform: uppercase
        color: $primary
      &--text
        width: 100%
        font-size: 1.07rem
        line-height: 1.85rem
        color: $light
        &:first-of-type
          margin-bottom: 0.7rem
        &:last-of-type
          width: 21rem;
          margin-bottom: 6rem
      &--img
        min-height: 26.90rem
  &__col-second
    width: 63.63%;
    margin-right: -1.74rem;
    margin-top: 6.5rem;
  // steps-list
  &-list
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-bottom: 3.58rem
    &__item
      color: $light
      opacity: 0.3
      cursor: pointer
      &:hover
        opacity: 1
      &--col-1
        flex-basis: 9.12rem
        margin-right: 14.36rem
      &--col-2
        flex-basis: 9.71rem
        margin-right: 14.29rem
      &--col-3
        flex-basis: 7.14rem
    &__number
      display: flex
      flex-direction: column
      font-family: 'Yeseva One', cursive
      font-size: 1.07rem
      line-height: 1.5rem
      text-transform: uppercase
      &::after
        content: ''
        width: 1.14rem
        height: 1px
        margin-bottom: 0.65rem
        background-color: $primary
    &__name
      font-size: 1.07rem
      line-height: 1.29rem
      &--word
        display: block
  &__img
    display: block
    object-fit: cover
.col
  &-second
    &__row
      justify-content: flex-start
      width: 100%
      &:first-of-type
        margin-bottom: 2.9rem
.active
  opacity: 1

